<div class="container border border-2 ">
<h1>Iniciar Sesion</h1>
<div class="mb-4" >
<form action="/api/session/login" method="post">
<label for="exampleFormControlInput1" class="form-label">Email</label>
<input class="form-control" type="text" name="email">
<label for="exampleFormControlInput1" class="form-label">Password</label>
<input class="form-control" type="password" name="password">
{{#if error}}
  <p class="error">{{ error }}</p>
{{/if}}<br>
<input class="btn btn-primary" type="submit" value="Iniciar Sesion"> | <a class="btn btn-secondary"  href="/api/session/github">Login with GitHub</a> |
<a class="btn btn-success" href="/register">Registrate</a> <br><br>
</form>
<a class="btn btn-danger" href="/forget-password">Olvidé mi contraseña</a><br><br>
</form>
</div>
</div>
