<div class="container border border-2 ">
<h1>Registrar Usuarios</h1>
<div class="mb-3" >
<form action="/api/session/register" method="post">
<label for="exampleFormControlInput1" class="form-label">Nombre</label> <input class="form-control" type="text" name="first_name" >
<label for="exampleFormControlInput1" class="form-label">Apellido</label> <input class="form-control" type="text" name="last_name" >
<label for="exampleFormControlInput1" class="form-label">Email</label> <input class="form-control" type="text" name="email" >
<label for="exampleFormControlInput1" class="form-label">Edad</label> <input class="form-control" type="text" name="age" >
<label for="exampleFormControlInput1" class="form-label">Clave</label><input class="form-control" type="text" name="password" >
<input class="btn btn-primary" type="submit" value="Crear"> 
</form>
</div>
</div>
