<h1>Registrar Usuarios</h1>

<form action="/api/sessions/register" method="post">
First Name: <input type="text" name="first_name" >
Last Name: <input type="text" name="last_name" >
Email: <input type="text" name="email" >
Age: <input type="text" name="age" >
Password: <input type="text" name="password" >
<input type="submit" value="Crear"> 
<a href="/login">Login</a>
</form>

