<div class="container">
    <h2 class="text-center mb-4">Crear Producto</h2>
    <hr />
    <div class="card mb-5 col-md-6 offset-md-3">
        <div class="card-header bg-primary text-center text-white">
            <h5>Create/Update</h5>
        </div>
        <div class="card-body">
            <form id="form">
                <div class="mb-3">
                    <input type="text" class="form-control" id="title" placeholder="Title"  />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="description" placeholder="Description"/>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control"  id="price"  placeholder="Price" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="code" placeholder="Code Number" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  id="category" placeholder="Category"/>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  id="thumbnail" placeholder="imagen" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  id="status" placeholder="true/false" />
                </div>
            </form>
            <button class="btn btn-success " id="createProduct" >Agregar Producto</button>
            <a class="btn btn-primary" href="/products"> Volver </a> 
        </div>
    </div>
    <hr />
</div>
<script>
document.getElementById('createProduct').addEventListener('click', () =>{
    const product = {       
        title: document.getElementById("title").value,
        description: document.getElementById("description").value,
        price: document.getElementById("price").value,
        code: document.getElementById("code").value,
        category: document.getElementById("category").value,
        stock: document.getElementById("stock").value,
        thumbnail: document.getElementById("thumbnail").value,
        status: document.getElementById("status").value 
        }

        //ruta que crea el producto
    fetch("/api/products", {
        method: "post",
        body: JSON.stringify(product),
        headers: {
            "Content-Type": "application/json",
        }
    })
    .then (result => result.json())
    .then (result => {
        if (result.status === 'error') throw new Error(result.error)
    })  
    .then (() => fetch('/api/products'))
    .then (result => result.json())
    .then ( result => {
        if ( result.status === 'error')throw new Error(result.error)
        alert(`Nuevo producto agregado`)
        window.location.href = '/products'
    })
    .catch(error => {
        console.log (`Error en la subida de producto`)
    } )
})


</script>