<div class="container">
    <h2 class="text-center mb-4">Actualizar-Crear Producto</h2>
    <hr />
    <div class="card mb-5 col-md-6 offset-md-3">
        <div class="card-header bg-primary text-center text-white">
            <h5>Create/Update</h5>
        </div>
        <div class="card-body">
            <form id="form">
                <div class="mb-3">
                    <input type="text" class="form-control" id="title" placeholder="Title"  />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="description" placeholder="Description"/>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control"  id="price"  placeholder="Price" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="code" placeholder="Code Number" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  id="category" placeholder="Category"/>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="stock" id="stock" placeholder="Stock" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  id="thumbnail" placeholder="imagen" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control"  id="status" placeholder="true/false" />
                </div>
            </form>
            <button class="btn btn-success " id="createProduct" >Agregar Producto</button>
        </div>
    </div>
    <hr />
</div>
<script>
document.getElementById('createProduct').addEventListener('click', () =>{
    const product = {       
        title: document.getElementById("title").value,
        description: document.getElementById("description").value,
        price: document.getElementById("price").value,
        code: document.getElementById("code").value,
        category: document.getElementById("category").value,
        stock: document.getElementById("stock").value,
        thumbnail: document.getElementById("thumbnail").value,
        status: document.getElementById("status").value 
        }

        //ruta que crea el producto
    fetch("/api/products", {
        method: "post",
        body: JSON.stringify(product),
        headers: {
            "Content-Type": "application/json",
        }
    })
    .then (result => result.json())
    .then (result => {
        if (result.status === 'error') throw new Error(result.error)
    })  
    .then (() => fetch('/api/products'))
    .then (result => result.json())
    .then ( result => {
        if ( result.status === 'error')throw new Error(result.error)
        alert(`Nuevo producto agregado`)
        window.location.href = '/products'
    })
    .catch(error => {
        console.log (`Error en la subida de producto`)
    } )
})



let updateProduct = (pid) => {
       // Obtener el formulario por su ID
    const form = document.getElementById('form');

    // Crear un objeto para almacenar los datos del formulario
    const formData = {
        title: form.querySelector('#title').value,
        description: form.querySelector('#description').value,
        price: form.querySelector('#price').value,
        code: form.querySelector('#code').value,
        category: form.querySelector('#category').value,
        stock: form.querySelector('#stock').value,
        thumbnail: form.querySelector('#thumbnail').value,
        status: form.querySelector('#status').value
    };
    console.log('formData update',fromData)
    fetch(`/api/products/${pid}`, {
        method: 'put',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(formData),
        })
        .then(result => result.json())
        .then(result => {
            console.log('result put', result)
            if (result.status === 'error') throw new Error(result.error)
            alert(`Todo salió bien! :)\nEl producto se actualizo en db ${result._id}!`)
            form.reset()
        })
        .catch(err => alert(`Ocurrió un error :(\n${err}`))
}

</script>